body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(189, 178, 178);
    position: relative;
}

.first{
    width: 100%;
    height: 700px;
    background-color: #0d1157;
     position: relative; 
    
}
.head{
    height: 60px;
}
.home{
    color: red;
}

.navbox{
    border-bottom: 1px solid white;
    width :  100%;
    height: 80px;
    position: absolute;
}

a{
    color: white;
    padding: 20px;
    margin-left: 25px;
    float: right;
    font-size: 16px;
    margin-top: 10px;
}

img{
    padding: 10px;
    width: 60px;
    height: 60px;
    margin-left: 80px;
}
.covid{
    color: white;
    margin-left: 155px;
    margin-top: 30px;
    position: absolute;
}

.one>img{
    padding: 10px;
    width: 500px;
    height: 500px;
    margin-left: 60%;
    margin-top: 90px;
    position: absolute;
}

.tracker{
    margin-top: 200px;
    margin-left: 250px;
    text-align: left;
    position: absolute;
    color:  white;
    position: absolute;
}

.statement{
    margin-top: 250px;
    margin-left: 250px;
    text-align: left;
    width: 29.98%;
    position: absolute;
    color:  white;
}

.button1{
    margin-top: 400px;
    margin-left: 250px;
    text-align: center;
    border: 1px solid rgb(207, 7, 17);
    border-radius: 8px;
    background-color: rgb(207, 7, 17);
    float: left;
    position: absolute;
    padding: 7px;
}

.button2{
    margin-top: 400px;
    margin-left: 430px;
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    background-color: #0e1363 ;
    float: left;
    position: absolute;
    padding: 7px;
}


.bar{
    position: absolute;
    background-color: white;
    border-radius: 7px;
    width: 80%;
    height: 157px;
    margin-left: 140px;
    margin-top: 600px;
    display: inline-block;
    position: absolute;
    display: flex;
    box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);
}

.statusbar{
    float: left;
    height: 150px;
    width: 22%;
    /* border: 1px solid black; */
    margin-left: 25px;
    text-align: end;
}
.statusbar>img{
    /* margin-right:250px; */
    /* margin-left: 20px; */
    /* float: right; */
    overflow: hidden;
}

.globebar{
    /* float: left; */
    border: 1px solid;
    width: 80px;
    height: 80px;
    /* overflow: hidden; */
    margin-left: 80px;
    /* overflow: hidden; */
}


.box3{
    margin-top: 800px ;
    margin-left: 140px ;
    width:50%;
    height: 620px;
    background-color: white;
    position: absolute;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);

}

.box3>p{
    text-align: start;
    display: initial; 
    position: absolute;
 
}

.spread{
    width: 50%;
    height: 60px;
    margin-top: 1500px;
    position: absolute;
    text-align: center;
    margin-left: 350px;
    color:  rgb(20, 20, 110);
}

.spread2{
    width: 50%;
    height: 60px;
    margin-top: 1590px;
    position: absolute;
    text-align: center;
    margin-left: 400px;
    color:  rgb(20, 20, 110);
}

.spread3{
    width: 50%;
    height: 60px;
    margin-top: 70px;
    position: absolute;
    text-align: center;
    margin-left: 320px;
    color:  rgb(20, 20, 110);
}

 /* .blog{
     width: 30%;
     height: 400px;
     background-color: white;
     border-radius: 7px;
     display: inline-block;
     margin-top: 60px;
     margin-left: 30px;
     box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);
 }

 .blog1{
     height: 200px;
     width: 100%;
     border-radius: 7px ;
     background-color:  rgb(117, 115, 115);

 } */

 .dat{
     margin-top: 40px;
     margin-left: 40px;
     color: rgb(75, 66, 66);
     position: absolute;
 }

 .anchortag>a{
   color: blue;
    margin-top: 20px;
    position: absolute;
    margin-left: 80px;
    height: 60px;
 }

.box3>img{
    width: 90%;
    height: 450px;
    background-color: rgb(102, 102, 102);
    margin-left: 22px;
    position: relative;
}
.box3>div{
    display: inline-block;
    margin: 50px;
    margin-top: 20px;
}

.how{
    box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);
    transition: all 4s ease-in-out;
    transform: rotate(360deg);

}
.side{
    width: 27.5%;
    height: 620px;
    background-color: white;
    border-radius: 7px;
    position: absolute;
    margin-left: 920px;
    margin-top: 800px;
    box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);

}

.corospread{
    height: 350px;
    width: 100%;
    /* background-color: bisque; */
    margin-top: 950px;
    position: absolute;
}

.corospread3>div{
    display: inline-block;
    height: 300px;
    width: 22%;
    margin-left: 10px;
    margin: 18px;
    text-align: start;
    border-radius: 7px;
    background-color: white;
    color: rgb(100, 100, 219);
    position: relative;
    margin-top: 230px;
    box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);
     
  
}

.corospread1>div{
    display: inline-block;
    height: 300px;
    width: 22%;
    margin-left: 110px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    color: rgb(100, 100, 236);
    position: relative;
    margin-top: 1460px;
    box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);
    
}
.corospread>div{
    display: inline-block;
    height: 300px;
    width: 22%;
    margin-left: 110px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    color: rgb(100, 100, 236);
    position: relative;
     box-shadow: 5px 5px 5px rgba(31, 30, 30, 0.9);
}
.circle{
    overflow: hidden;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 12px;
    margin-left: 98px;
    background-color: rgb(207, 207, 207);
}

.spread1{
    margin-left: 590px;
    margin-top: 1340px;
    position: absolute;
    color: rgb(20, 20, 110);
}

.corospread4>div{
    display: inline-block;
    height: 300px;
    width: 22%;
    margin-left: 40px;
    margin-top: 200px;
    border-radius: 7px;
    color: rgb(38, 38, 99);
    position: relative;
    /* box-shadow: 5px 20px 5px rgb(0,0,0,0.9); */
    
}

.circle3>img{
    width:90px ;
    height: 90px;
    margin-left: 0px;
    border-radius: 100%;
    background-color:  rgb(207, 207, 207);
}
.circle>img{
    width:90px ;
    height: 90px;
    margin-left: 0px;
}

.topics{
    text-align: center;
    margin-top: 80px;
}

.faq{
    width: 100%;
    height: 600px;
    background-color: white;
    position: absolute;
    text-align: center;
    color: #080d6b;
    
}
.qaf{
    display: inline-block;
    /* border: 1px solid; */
    width: 100%;
    height: 500px;
}

.leftfaq{
    width: 400px;
    height:350px;
    /* border: 1px solid; */
    margin-left: 120px;
    margin-top: 70px;
    position: absolute;
}
.leftfaq>div{
    width: 340px;
    height: 35px;
    border: 1px solid  rgb(170, 169, 169);
    margin: 20px;
    text-align: start;
    padding: 5px;
    color: rgb(7, 7, 231);
    position: relative;
}

.next{
    float: right;
    width: 800px;
    height: 350px;
    margin-right: 100px;
    margin-top: 65px;
    position: relative;
}

.next>li{
    padding: 24px;
    border-bottom: 1px solid rgb(170, 169, 169);
    color: rgb(7, 7, 231);
    font-size: 15px;
    list-style: none;
    text-align: start;
}


.shake{
    height: 100%;
    width: 100%;
    display: block;
    margin-right: 100px;
}

.footer{
    background-color:  #0d1157;
    text-align: center;
    color: white;
    padding: 0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1200px;
    border: 1px solid white;
    display: absolute;
}

.footop{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color:  #0d1157;
    height: 350px;
    color: white;
    width: 100%;
    margin-top: 850px;
    position: absolute;
}
.footimg{
    float: right;
    margin-right: 120px;
    margin-top: 30px;
}
.cov{
    margin-left: 80px;
    margin-top: 60px;
    position: absolute;
}

.footop>div{
    width:200px;
    height: 250px;
    display: inline-block;
    margin: 5px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.viewall{
    width: 100%;
    height: 65px;
    margin-top: 750px;
    position: absolute;
}

.viewall>a{
    margin-bottom: 50px;
    padding: 13px;
    text-align: center;
    margin-right: 600px;
    background-color: rgb(253, 0, 127);
    border-radius: 7px;
    width: 100px;
}
.image{
    background-color: khaki;
    height: 100px;
}
.contain{
    width: 100%;
    background-color: lightgreen;
    margin-top:1400px;
    position: absolute;
}
.why{
    color: red;
}
.tc{
    padding: 5px;
    margin: 10px;
}

.keep{
    display: inline-block;
    margin-right: 5px;
}
.icon{
    width: 20px;
    height: 20px;
    display: inline-block;
}

 #icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
}

.rightfaq{
    height: 60px;
    width: 90px;
}

.location{
    width: 350px;
    height: 45px;
    border: 1px solid rgb(180, 178, 178);
    margin-top: 20px;
    margin-left: 29px;
    padding: 1px;
    border-radius: 7px;
}

.global{
    width: 350px;
    height: 45px;
    border: 1px solid rgb(180, 178, 178);
    margin-top: 20px;
    margin-left: 29px;
    padding: 1px;
    border-radius: 7px;
    display: grid;
}

.country{
    width: 350px;
    height: 35px;
    border: 1px solid rgb(180, 178, 178);
    margin-top: 16px;
    margin-left: 29px;
    padding: 1px;
    border-radius: 7px;
    display: grid;
    display: inline-block;
}

hr{
    width: 350px;
    color: rgb(222, 228, 228);
}

.united{
    height: 32px;
    width: 50%;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    overflow: hidden;
}
.spain{
    float: right;
    margin-right: 90px;
    margin-top: 6px;
}

.united>img{
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-top: 0px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    padding: 2px;
}

.unit{
    float: right;
    margin-top: 6px;
    margin-right: 15px;
    
}


.number{
    height: 25px;
    width: 30%;
    float: right;
    margin-top: 7px;
    margin-left: 5px;
    text-align: center;
}